<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <h1>Plant Id</h1>
    <a href="/plants" class="butt"> View map</a>

    <div id="message"></div>
    
    <% if (locals.securityWarning) { %>
    <% } %>
    <% if (locals.plant) { %>
        <div class="article">
            <%= plant.title %>
            <%= plant.scientificName %>
            <img src="<%= plant.wikiPic %>" class="plant-img"alt="">
            <%= plant.description %>
            <%= plant.extract %>
            <a href="<%= plant.link %>">View on Wikipedia</a>
        </div>
    <% } %>

    <div class="buttons-container">
        <a href="/plants">Save to Map</a>
        <div class="delete-plant">Don't save</div>
    </div>

    <script src="/js/display.js"></script>
</body>
</html>