<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


    <div id="message"></div>
    <div class="main-display-container">
        <% if (locals.securityWarning) { %>
        <% } %>
        <% if (locals.plant) { %>
            <div class="article">
                <% if (plant.commonName) { %>
                    <h1><%= plant.commonName %></h1>
                <% } %>
                <% if (plant.scientificName) { %>
                    <h2 class="scientific-name"><%= plant.scientificName %></h2>
                <% } %>
                <img src="<%= plant.wikiPic %>" class="plant-img"alt="">
                <div class="description"><%= plant.description %></div>
                <hr>
                <div class="extract"><%= plant.extract %></div>
                <% if (plant.edibleParts) { %>
                    <div class="plant-details">
                        <span>Edible parts: </span>
                        <% for (let part of plant.edibleParts) { %>
                            <span><%= part %>;</span>
                        <% } %>
                    </div>
                <% } %>
                <% if (plant.propMethods) { %>
                    <div class="plant-details">
                        <span>Propagation methods: </span>
                        <% for (let method of plant.propMethods) { %>
                            <span><%= method %>;</span>
                        <% } %>
                    </div>
                <% } %>
                
                <a href="<%= plant.link %>">View on Wikipedia</a>
            </div>
        <% } %>
    </div>

    <div class="buttons-container">
        <!-- <a href="/plants" class="btn btn-primary">View on Map</a> -->
        <form action="/plants">
            <button type="submit" value="View on Map">View On Map</button>
        </form>
        
        <form
        action="/plants/deleteLatest/<%= plant._id %>?_method=DELETE"
        method="POST"
      ><button type="submit" class="btn btn-primary" value="Upload">Delete Plant</button></form>
    </div>

    <div class="bottom-nav-wrapper">
        <div class="bottom-nav">
            <a href="/plants">My Map</a>
            <a href="/plants/overview">My Plants</a>
            <a href="/logout">Logout</a>
        </div>
    </div>  
</body>
</html>